html,
body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  color: #333;
}

.Title {
  display: flex;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 64px - 114px)
}

article {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

h4 {
  text-align: right;
}

article p {
  margin-top: 16px;
  line-height: 24px;
}

.Map {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  text-align: center;
  background: #1a76d2;
  color: #fff;
  padding: 20px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 5px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

